-- Add new columns to tenants table for enhanced tenant management
-- Migration for master database

ALTER TABLE tenants
ADD COLUMN IF NOT EXISTS expiration_date DATE,
ADD COLUMN IF NOT EXISTS max_users INT,
ADD COLUMN IF NOT EXISTS features TEXT,
ADD COLUMN IF NOT EXISTS subscription_type VARCHAR(50),
ADD COLUMN IF NOT EXISTS contact_person_name VARCHAR(100),
ADD COLUMN IF NOT EXISTS contact_person_phone VARCHAR(20),
ADD COLUMN IF NOT EXISTS contact_person_email VARCHAR(100),
ADD COLUMN IF NOT EXISTS contact_person_zalo_id VARCHAR(50),
ADD COLUMN IF NOT EXISTS active_at BIGINT,
ADD COLUMN IF NOT EXISTS active_by VARCHAR(100),
ADD COLUMN IF NOT EXISTS created_by VARCHAR(100),
ADD COLUMN IF NOT EXISTS updated_by VARCHAR(100);

-- Add comments for documentation
COMMENT ON COLUMN tenants.expiration_date IS 'Expiration date for the tenant subscription';
COMMENT ON COLUMN tenants.max_users IS 'Maximum number of users allowed for this tenant';
COMMENT ON COLUMN tenants.features IS 'Comma-separated list of features available for this tenant';
COMMENT ON COLUMN tenants.subscription_type IS 'Type of subscription (e.g., BASIC, PREMIUM, ENTERPRISE)';
COMMENT ON COLUMN tenants.contact_person_name IS 'Name of the contact person for this tenant';
COMMENT ON COLUMN tenants.contact_person_phone IS 'Phone number of the contact person';
COMMENT ON COLUMN tenants.contact_person_email IS 'Email of the contact person';
COMMENT ON COLUMN tenants.contact_person_zalo_id IS 'Zalo ID of the contact person';
COMMENT ON COLUMN tenants.active_at IS 'Timestamp when tenant was last activated/deactivated';
COMMENT ON COLUMN tenants.active_by IS 'Username who last activated/deactivated the tenant';
COMMENT ON COLUMN tenants.created_by IS 'Username who created the tenant';
COMMENT ON COLUMN tenants.updated_by IS 'Username who last updated the tenant';

